@media (max-width: 1400px) {
    .login-signup-link {
        margin-top: 30px;
    }
    /* ----------- on hold request page ----------- */
    .special-navbar a {
        padding-left: 30px;
        padding-right: 30px;
    }
    .special-navbar a:not(.navbar-brand)::after {
        width: 100%;
        left: 0%;
        background-color: var(--blue-1);
    }
}

@media (max-width: 1200px) {
    /* -------- login page ----- */
    .upper-nav-logo {
        margin-left: 0rem;
    }
    .login-form-section {
        width: 95%;
        height: 90%;
    }
    .login-signup-link {
        margin-top: 20px;
    }
    /* ----------- request success page ------- */
    .request-success-form-section {
        width: 90%;
    }
    /* ----------- on hold request page ----------- */
    .special-navbar a {
        padding-left: 10px;
        padding-right: 10px;
    }
    .special-navbar a:not(.navbar-brand)::after {
        width: 140%;
        left: -20%;
        background-color: var(--blue-1);
    }
    .required-action-text,
    .required-action-sec {
        max-height: 30vh;
    }
    /* ------------ requset submitted ------------- */
    .req-submitted {
        min-height: 30vh;
    }
    /* footer */
    .footer-text {
        padding-right: 0px;
    }
    /* ---------- submit page ---------- */
    .submit-form-section {
        width: 90%;
    }
}

@media (max-width: 992px) {
    /* ----------- request success page ------- */
    .req-success-content {
        width: 70%;
    }
    /* ----------- on hold request page ----------- */
    .on-hold-req-form-section {
        width: 90%;
    }
    .special-navbar a:not(.navbar-brand)::after {
        width: 120%;
        left: -10%;
        background-color: var(--blue-1);
    }
    /* --------------- loan form page -------------- */
    .overflow-loan-form {
        overflow: scroll;
    }
}

@media (max-width: 768px) {
    /* ----------- request success page ------- */
    .req-success-content {
        width: 90%;
    }
    /* ----------- on hold request page ----------- */
    .on-hold-req {
        height: auto;
        overflow: scroll;
    }
    .on-hold-req-wrapper {
        overflow-y: scroll;
    }
    .on-hold-req-form-section {
        width: 100%;
    }
    .contact-details {
        max-width: 90%;
    }
    /* -------- product page ------------ */
    .product-form-section {
        overflow: scroll;
    }
    .solve-outgoing-btn {
        margin-top: 0px;
    }
}

@media (max-width: 576px) {
    p,
    a {
        font-size: 12px;
    }
    h4 {
        font-size: 14px;
    }
}