:root {
    --green-1: #8cebaf;
    --black-1: #000;
    --black-2: rgb(33, 37, 41);
    --black-3: rgb(60, 62, 63);
    --blue-1: #00ffff;
    --orange-1: #df4a16;
    --white-1: rgba(255, 255, 255, 0.637);
    --transition-primary: all 0.6s ease-in-out;
    --shadow-1: 1px 1px 1px 1px var(--black-1)
}


/*=========== global css==========  */

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

*:checked,
*:focus {
    border: none !important;
    box-shadow: none !important;
}

body {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
}

main {
    height: 75%;
}

footer {
    height: 20%;
}

p {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--white-1);
}

a {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
}

label {
    text-transform: uppercase;
    font-size: 12px;
}

input {
    font-size: 12px;
}

input[type="checkbox"]:checked {
    background-color: var(--green-1);
}

textarea {
    resize: none;
}

span {
    text-transform: capitalize;
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-14 {
    font-size: 14px;
}

.fs-16 {
    font-size: 16px;
}

.fs-18 {
    font-size: 18px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-70 {
    margin-top: 70px;
}

.pr-100 {
    padding-right: 100px;
}

.pb-20 {
    padding-bottom: 30px;
}

.pb-30 {
    padding-bottom: 30px;
}

.pb-50 {
    padding-bottom: 50px;
}

.pb-100 {
    padding-bottom: 100px;
}

.pr-200 {
    padding-right: 200px;
}

.pse-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.pse-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.pse-50 {
    padding-left: 50px;
    padding-right: 50px;
}

.pse-60 {
    padding-left: 60px;
    padding-right: 60px;
}

.min-h-200 {
    min-height: 200px;
}

.max-h-100 {
    max-height: 100px;
}

.max-h-120 {
    max-height: 120px;
}

.max-h-200 {
    max-height: 200px;
}

.max-h-250 {
    max-height: 250px;
}

.max-h-300 {
    max-height: 300px;
}

.max-h-350 {
    max-height: 350px;
}

.max-w-100 {
    max-width: 100px;
}

.max-w-120 {
    max-width: 120px;
}

.max-w-150 {
    max-width: 150px;
}

.max-w-200 {
    max-width: 200px;
}

.max-w-250 {
    max-width: 250px;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.green1-bg {
    background-color: var(--green-1);
}

.green1-text {
    color: var(--green-1);
}

.green1-border {
    border: 1px solid var(--green-1);
}

.black2-text {
    color: var(--black-2);
}

.black2-border {
    border: 1px solid var(--black-2);
}

.white1-text {
    color: var(--white-1);
}

.orange-text {
    color: var(--orange-1);
}


/* ------- scroll bar ------------ */

::-webkit-scrollbar {
    width: 10px;
    padding: 3px;
    background-color: var(--black-2);
}

::-webkit-scrollbar:horizontal {
    height: 0%;
}

::-webkit-scrollbar-track {
    background-color: var(--black-2);
}

::-webkit-scrollbar-thumb {
    background: var(--black-3);
    border-radius: 10px;
    height: 50px;
    margin: 5px;
    box-shadow: var(--shadow-1);
}

::-webkit-scrollbar-corner {
    background: var(--black-2);
}


/* ---nav bar---- */

.upper-navbar {
    min-height: 10%;
}

.upper-nav-logo {
    margin-left: -20rem;
}

.upper-navbar-link a {
    transition: var(--transition-primary);
}

.upper-navbar-link a:hover {
    color: var(--green-1) !important;
}

.bottom-nav-link a,
.special-navbar a {
    transition: var(--transition-primary);
    line-height: 30px;
    text-decoration: none;
    position: relative;
    text-align: center;
}

.bottom-nav-link a::after,
.special-navbar a:not(.navbar-brand)::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--green-1);
    transition: var(--transition-primary);
    visibility: hidden;
    opacity: 0;
}

.special-navbar a:not(.navbar-brand)::after {
    width: 110%;
    left: -5%;
    background-color: var(--blue-1);
}

.special-navbar a.active::after,
.bottom-nav-link a.active,
.special-navbar a:hover,
.bottom-nav-link a:hover {
    color: var(--green-1) !important;
}

.special-navbar a.active::after,
.bottom-nav-link a.active::after,
.special-navbar a:hover::after,
.bottom-nav-link a:hover::after {
    visibility: visible;
    opacity: 1;
}


/*======== login page ======== */

.login-wrapper main {
    margin-top: 39px;
}

.login-form-section {
    width: 60%;
    height: 90%;
}

.login-form-img {
    background-image: url(../img/login-page-img.png);
    background-position: center;
}


/* ------- product page -------- */

.on-hold-req-wrapper main,
.product-wrapper main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-form-section {
    width: 80%;
    height: 90%;
}


/* ----------- request-success page ----------- */

.request-success-form-section {
    width: 60%;
    height: 95%;
}

.req-success-content {
    width: 50%;
}


/* ----------- on hold request page ------------- */

.on-hold-req-form-section {
    width: 80%;
    height: 95%;
}

.on-hold-req-wrapper main {
    height: 80%;
}

.on-hold-req-wrapper footer {
    height: 15%;
}

.on-hold-req-checkbox {
    width: 20px;
    height: 20px;
    outline: none;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid var(--black-2);
}


/* ----------- request submitted ------------- */

.req-submitted {}